GALAXY_TOKEN=your_ansible_galaxy_token_here
GITHUB_TOKEN=your_github_personal_access_token_here
GITHUB_REPO=ansible-collections
GITHUB_USERNAME=your_github_username_here
GITHUB_EMAIL=your_github_email_here
